#character-title {
	margin-top: 10px;
	margin-bottom: 24px;
}

#character-image {
	float: left;
}

#character-attributes {
	margin-top: 10px;
}

#character-name {
	margin-left: 15px;
	display:  inline-block;
	vertical-align: middle;
}

span.glyphicon-plus {
    font-size: 1.6em;
}

span.glyphicon-edit {
    font-size: 1.6em;
}

span.glyphicon-trash {
    font-size: 1.6em;
}

.white, .white a {
    color: white;
}

.black, .black a {
    color: black;
}