* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
	display: table;
}

.middleText {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

footer, .push {
	height: 80px; /* '.push' must be the same height as 'footer' */
	background-color: #AFAAAA;
}

span.glyphicon-plus {
    font-size: 1.6em;
    color: white;
}

span.glyphicon-edit {
    font-size: 1.6em;
    color: black;
}

span.glyphicon-trash {
    font-size: 1.6em;
    color: black;
}

#edit-button.highlighted {
    color: white;
}

.footerModal {
	margin-top: 10px;
    width: 200px !important;
    height: 60px !important;
}